apiVersion: launchpad.mirantis.com/mke/v1.4
kind: mke
metadata:
  name: MKEvirt-cluster
spec:
  hosts:
%{ for host in hosts ~}
  - ssh:
      address: ${host.address}
      user: ${host.user}
      keyPath: ${host.keyPath}
    role: ${host.role}
%{ endfor ~}
  mke:
    version: "3.7.15"
    imageRepo: docker.io/mirantis
    adminUsername: admin
    adminPassword: passw0rd!
  mcr:
    version: 23.0.15
    repoURL: https://repos.mirantis.com
    installURLLinux: https://get.mirantis.com/
    installURLWindows: https://get.mirantis.com/install.ps1
    channel: stable
  cluster:
    prune: false